body{
  font-family: 'Roboto', sans-serif;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-grid-tile {
    background: #fff;
}
table{
  width: 100%;
  box-shadow: none !important;
}
.mytable{
  border-top: 1px solid #ccc;
}
.mytable th{
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}
.mytable td{
  text-align: left;
  font-weight: 13px;
  font-weight: 400;
  padding: 10px;
}
.progresstable{
  width: 100%;
  text-align: left;
}
.innerProgress{
  width: 100%;
  padding: 10px;
}
.innerProgress p{
  font-size: 18px;
  font-weight: 500;
  border-bottom: 3px solid #6d9aec;
  padding-bottom: 10px;
}
.usetableList p{
  font-size: 18px;
  font-weight: 500;
}
.innerProgress td, .innerProgress th{
  font-weight: 400;
  padding: 10px;
}
.innerProgress th{
 font-weight: 500;
  }
.usetableList{
  width: 100%;
}
figure{
  align-items: start !important;
}
.container{
  padding: 0px 20px;
}
.mat-toolbar{
  background:#00AE9F;
}
.userbutton{
  background: transparent;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  font-weight:500;
  font-size: 14px;
}
.menu-icon{
  background: transparent;
  border: none;
  color: #fff;
}
.top_toolbar{
  color: #fff;
}
.mat-icon{
  font-size: 18px;
}
.yesbtn{
  background: gray;
}
.deletebtn{
  background: transparent;
  border: none;
}

.example-full-width{
  width: 100%;
}
.genderLable{
  padding-right: 10px;
}